﻿
h1,h2 {
    font-family: 'Exo', sans-serif!important;
    font-weight: bold!important;
    
}

h3,h4,h5 {
   font-family: 'Exo', sans-serif!important; 
}

#validationMessages {
    color: orangered;
    padding-bottom: 1em;
}

#homeButtons {
    margin: 2em;
    padding-bottom: 1em;
}

#viewOrder {
    padding: 2em;
}

#userInputBox {
    padding: 2em;
}

#banner {
   
    background-color: black;
    padding: 1em;
    border-bottom:1px solid black ;
    
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Exo', sans-serif !important;
    font-size: 18px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    background-color: black;
    color: white;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 3em;
}

