﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SG Flooring Inc.</title>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />   
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
   

</head>
<body>
<div align ="center" id ="banner"><img src="~/Content/Images/SGLogo2.JPG" width="950" height="150" /></div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SG Flooring Inc.", "FlooringStart", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>

<div class="container body-content" id="body-content">
@RenderBody()    
    
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - Calli's SG Flooring Web App.</p>
</footer>
   
@RenderSection("scripts", false)
</body>
</html>
