﻿h1,h2{
    font-family: 'Italianno', cursive!important;
    font-weight: bolder;
    font-size: 250%;
}

#banner {
    padding:auto;
}

#listingDesc{
    padding-bottom: 2em;
}

#prod {
    padding-bottom: 2em;
}
#prodImages {
    position: static;
}
#prodListings {
    padding-bottom: 2em;
    margin-top: .5em;
   
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lusitana', serif!important;
    font-size: 18px;
}
#errorMessages {
    color: darkred;
    font-weight: bold;
}

#contactForm {
    padding-bottom: 1.5em;

}

label {
    align-items:left;
}

h3,h4,h5,p {
    color: dimgray;
    font-family: 'Lusitana', serif!important;
    font-size: 18px;
    padding-right: .5em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


