﻿<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Content/Images/W&K Favicon.GIF" />
    <meta charset="utf-8"/>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css?family=Italianno|Lusitana" rel="stylesheet">
    <link href="~/Content/W&K.css" rel="stylesheet">       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    
    <title>@ViewBag.Title - War & Kitty</title>
    
    @Styles.Render("~/Content/W&K/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<div align ="center" width="110%"><img src="~/Content/Images/WarandKittyBanner.jpg" id="banner"/></div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("War & Kitty", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Get Inspired", "About", "Home")</li>
                <li>@Html.ActionLink("Our Products", "Products", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<footer>
    <p>&copy; @DateTime.Now.Year - War&Kitty</p>
</footer>
</body>

</html>
