﻿@using FlooringMastery.Models
@model FlooringMastery.Models.AddOrderViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add A New Order</h2>
@using (Html.BeginForm("Add", "Home", null, FormMethod.Post, new { id = "addOrder" }))
{
    <div id="validationMessages">
        @Html.ValidationSummary(true, "The following errors occured: ")
        @Html.AntiForgeryToken()
        <div class="row">@Html.ValidationMessageFor(o => o.Order.CustomerName)</div>   
        <div class="row">@Html.ValidationMessageFor(o => o.Order.OneState.StateName)</div>
        <div class="row">@Html.ValidationMessageFor(o => o.Order.OneProduct.ProductName)</div>
        <div class="row">@Html.ValidationMessageFor(o => o.Order.Area)</div>
    </div>
    <table>

        <tr class="form-group">
            <th>Customer Name:</th>
            <td>@Html.TextBoxFor(o => o.Order.CustomerName, new { @class = "form-control" })</td>
        </tr>
        
        <tr class="form-group">
            <th>State: </th>          
            <td>@Html.DropDownList("Order.OneState.StateId", new SelectList(Model.States, "StateId", "StateName"), " -Select-State- ", new { @class = "form-control" })</td>         
        </tr>

        <tr class="form-group">
            <th>Product Type: </th>
            <td>@Html.DropDownList("Order.OneProduct.ProductId", new SelectList(Model.Products, "ProductId", "ProductName"), " -Select-Product- ", new { @class = "form-control" })</td> 
        </tr>

        <tr class="form-group">
            <th>Area Sq.Ft.: </th>       
            <td>@Html.TextBoxFor(o => o.Order.Area, new { @class = "form-control" })</td>          
        </tr>
    </table>
    <div align="center">
        <button type="submit" class="btn btn-success">Add</button>
        @Html.ActionLink("Cancel", "Display", "Home", null, new { @class = "btn btn-danger" })
    </div>
}
@section scripts{

    <script src="~/Scripts/JavaScript-validate-styling.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/AddOrderValidation.js"></script>
   
}