﻿
@{
    ViewBag.Title = "AddConfirmation";
}

<div align="center">
    <h3>Your order has been added! Thank you for visiting the SG Flooring order management system.</h3>

    @Html.ActionLink("OK", "FlooringStart", "Home", null, new { @class = "btn btn-primary" })
</div>
