﻿
@{
    ViewBag.Title = "DeleteConfirmation";
}
<div align="center">
    <h3>Thank you for visiting the SG Flooring order management system, your order has been deleted!</h3>

    @Html.ActionLink("OK", "FlooringStart", "Home", null, new { @class = "btn btn-primary" })
</div>
