﻿@model FlooringMastery.Models.DisplayOrdersViewModel
@{
    ViewBag.Title = "Display";
}


<div class="row" align="center" id="userInputBox">
    <h2>Order Search</h2>
    <p>Enter a date to view all orders submitted on the day specified.</p>
    <form action="@Url.Action("Display", "Home")" method="get">
        <input type="date" name="OrderDate" id="OrderDate" value="@Model.OrderDate"/>
        <button type="submit">View Orders</button>
    </form>
</div>


@foreach (var order in Model.Orders)
{
    @Html.HiddenFor(o => order.OneProduct.ProductId)
    @Html.HiddenFor(o => order.OneState.StateId)
    @Html.HiddenFor(o => order.OneState.Abbreviation)


    <div id="viewOrder" style="width: 100%">
        <h4>Order For @order.OrderDate.ToShortDateString()</h4>
        <table style="width: 100%">
            <tr>
                <th>Order Number: </th>
                <td>@Html.DisplayFor(o => order.OrderNumber)</td>
                <th>Order Date: </th>
                <td>@order.OrderDate.ToShortDateString()</td>
            </tr>

            <tr>
                <th>Customer Name: </th>
                <td>@Html.DisplayFor(o => order.CustomerName)</td>
            </tr>
            <tr>
                <th>Customer Location: </th>
                <td>@Html.DisplayFor(o => order.OneState.StateName)</td>
            </tr>
            <tr>
                <th>Product:</th>
                <td>@Html.DisplayFor(o => order.OneProduct.ProductName)</td>
            </tr>
            <tr>
                <th>Area Sq.Ft.:</th>
                <td>@Html.DisplayFor(o => order.Area) sq.ft.</td>
            </tr>
            <tr>
                <th>Materials:</th>
                <td>$@Html.DisplayFor(o => order.MaterialTotal)</td>
            </tr>
            <tr>
                <th>Labor:</th>
                <td>$@Html.DisplayFor(o => order.LaborTotal)</td>
            </tr>
            <tr>
                <th>Tax:</th>
                <td>$@Html.DisplayFor(o => order.TotalTax)</td>
            </tr>
            <tr>
                <th>Total:</th>
                <td>$@Html.DisplayFor(o => order.Total)</td>
            </tr>
        </table>
       
    </div>
    <div align ="center">
        @Html.ActionLink("Edit Order", "Edit", "Home", new { orderNumber = order.OrderNumber }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel Order", "Remove", "Home", new { orderNumber = order.OrderNumber }, new { @class = "btn btn-danger" })
    </div>
}
