﻿
@{
    ViewBag.Title = "EditConfirmation";
}

<div align="center">
    <h3>Your changes have been saved! Thank you for visiting the SG Flooring order management system.</h3>

    @Html.ActionLink("OK", "FlooringStart", "Home", null, new { @class = "btn btn-primary" })
</div>
