﻿@model FlooringMastery.Models.AddOrderViewModel
@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "Home", null, FormMethod.Post, new { id = "editOrder" }))
{
    <div id ="validationMessages">
        @Html.ValidationSummary(true, "The following errors occured: ")
        @Html.AntiForgeryToken()
        <div class="row">@Html.ValidationMessageFor(o => o.Order.CustomerName)</div>
        <div class="row">@Html.ValidationMessageFor(o => o.Order.OneState.StateName)</div>
        <div class="row">@Html.ValidationMessageFor(o => o.Order.OneProduct.ProductName)</div>
        <div class="row">@Html.ValidationMessageFor(o => o.Order.Area)</div>
    </div>
    
@Html.HiddenFor(o => o.Order.OrderNumber)
@Html.HiddenFor(o => o.Order.OrderDate)


    <h2>Edit Details for Order Number: @Model.Order.OrderNumber</h2>
    <table style="width: 100%">

    <tr>
        <th>Customer Name: </th>
        <td>@Html.TextBoxFor(o => o.Order.CustomerName, new { PlaceHolder = Model.Order.CustomerName, @class = "form-control" })</td>
    </tr>
        <tr>
            <th>State: </th>
            <td>@Html.DropDownList("Order.OneState.StateId", new SelectList(Model.States, "StateId", "StateName"), "-Select State-", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th>Product Type: </th>
            <td>@Html.DropDownList("Order.OneProduct.ProductId", new SelectList(Model.Products, "ProductId", "ProductName"), " -Select-Product- ", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <th>Area Sq.Ft.: </th>
            <td>@Html.TextBoxFor(o => o.Order.Area, new { PlaceHolder = Model.Order.Area, @class = "form-control" })</td>
        </tr>
    </table>
<div align="center">
    <button type="submit" class="btn btn-success">Save Changes</button>
    @Html.ActionLink("Cancel", "Display", "Home", null, new { @class = "btn btn-danger" })
</div>
}
@section scripts{
   

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
    <script src="~/Scripts/AddOrderValidation.js"></script>
    <script src="~/Scripts/JavaScript-validate-styling.js"></script>
}
