﻿@{
    ViewBag.Title = "FlooringStart";
}
<div align="center">
    <h2>Welcome to the SG Flooring Order Management System</h2>
    <h4>This portal will allow you to view, add, edit and delete flooring orders. Select an option below to begin! </h4>
</div>

<div align="center">
    <div class="row" id="homeButtons">
        @Html.ActionLink("I Have An Existing Order", "Display", "Home", null, new { @class = "btn-lg btn-primary"})
    </div>

    <div class="row" id="homeButtons">
        @Html.ActionLink("Add A New Order", "Add", "Home", null, new { @class = "btn-lg btn-success"})
    </div>
   
 </div>