﻿@model FlooringMastery.Models.Order
@{
    ViewBag.Title = "Remove";
}
@using (Html.BeginForm())
{
    @Html.HiddenFor(o => o.OrderNumber)
    <div align="center">
        <h2>Are you sure you would like to delete the order for @Model.CustomerName?</h2>
    </div>
    <div id="deleteOrder" style="width: 100%">
        <h4>Order Details: </h4>
        <table style="width: 100%">
            <tr>
                <th>Order Number: </th>
                <td>@Html.DisplayFor(o => o.OrderNumber)</td>
                <th>Order Date: </th>
                <td>@Model.OrderDate.ToShortDateString()</td>
            </tr>

            <tr>
                <th>Customer Name: </th>
                <td>@Html.DisplayFor(o => o.CustomerName)</td>
            </tr>
            <tr>
                <th>Customer Location: </th>
                <td>@Html.DisplayFor(o => o.OneState.StateName)</td>
            </tr>
            <tr>
                <th>Product:</th>
                <td>@Html.DisplayFor(o => o.OneProduct.ProductName)</td>
            </tr>
            <tr>
                <th>Area:</th>
                <td>$@Html.DisplayFor(o => o.Area)</td>
            </tr>
            <tr>
                <th>Materials:</th>
                <td>$@Html.DisplayFor(o => o.MaterialTotal)</td>
            </tr>
            <tr>
                <th>Labor:</th>
                <td>$@Html.DisplayFor(o => o.LaborTotal)</td>
            </tr>
            <tr>
                <th>Tax:</th>
                <td>$@Html.DisplayFor(o => o.TotalTax)</td>
            </tr>
            <tr>
                <th>Total:</th>
                <td>$@Html.DisplayFor(o => o.Total)</td>
            </tr>
        </table>
        <div align="center">
            <button type="submit" class="btn btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Display", "Home", null, new { @class = "btn btn-info" })
        </div>
    </div>

}
