﻿@model List<CarDealership.Models.Vehicle>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CK Automotive Sales</h1>
</div>

<div>
    <h2>Featured Vehicles</h2>
</div>
<div class="col-md-4">
    @foreach (var vehicle in Model)
    {

        @Html.HiddenFor(v => vehicle.VIN)
        @Html.HiddenFor(v => vehicle.VehicleType)
        @Html.HiddenFor(v => vehicle.BodyType)
        @Html.HiddenFor(v => vehicle.Transmission)
        @Html.HiddenFor(v => vehicle.ExteriorColor)
        @Html.HiddenFor(v => vehicle.InteriorColor)
        @Html.HiddenFor(v => vehicle.Mileage)
        @Html.HiddenFor(v => vehicle.MSRP)
        @Html.HiddenFor(v => vehicle.Description)

        foreach (var image in vehicle.Images)
        {

            if (image.IsPrimaryImage)
            {


                
                    <img src="@image.ImageLink" height="200" width="230" />
               

            }

        }

        
            @Html.DisplayFor(v => vehicle.Year)
            @Html.DisplayFor(v => vehicle.Make.MakeName)
            @Html.DisplayFor(v => vehicle.Make.ModelName)
        

    }
</div>















