﻿@model List<WarAndKitty2.Models.Inspiration>

@{
    ViewBag.Title = "About";
}

@if (Model != null)

{
    <h1 align ="left">@ViewBag.Message</h1>
    <div align="center" id="inspire">
        <h4>Whether you are tackling a new project, want some home improvement tips, or just need a push in the right direction, we've got some ideas to help you get started. </h4>
    </div>

    foreach (var inspiration in Model)
    {
        @Html.HiddenFor(i => inspiration.InspirationId)
        <div align="center">
            <div class="col-md-4">
                <div class="row">
                    <img src="@inspiration.InspirationImage" width="250" height="250" />
                </div>
                <div class="row">
                    <a href="@inspiration.InspirationLink">
                        <h4>@inspiration.InspirationDescription</h4>
                    </a>
                </div>
            </div>
        </div>
    }


}


