﻿
@{
    ViewBag.Title = "Confirm";
}

<div align="center">
    <h1>Thank you for contacting us...</h1>
    <h3>We value your suggestions and requests, and will respond as soon as possible.</h3>
    <img src="~/Content/Images/W&K Logo.PNG" height ="100" width ="100"/>
</div>

