﻿
@model WarAndKitty2.Models.Register
@{
    ViewBag.Title = "Contact";
}

<h1>@ViewBag.Message</h1>

<div align="center" id="contactForm">
    <h4>We want to hear from you! Do you have questions? Are there products you would like to see more of? Contact us and let us know! </h4>
</div>

<div class="form-group" id ="form">
    @using (Html.BeginForm("Contact", "Home", null, FormMethod.Post, new { id = "ContactForm" }))
    {
        <div id="errorMessages" align="left">
            <div class="row">@Html.ValidationSummary(true, "The following errors occured: ")</div>
            <div class="row">@Html.ValidationMessageFor(c => c.FirstName)</div>
            <div class="row">@Html.ValidationMessageFor(c => c.LastName)</div>
            <div class="row">@Html.ValidationMessageFor(c => c.Email)</div>
            <div class="row">@Html.ValidationMessageFor(c => c.FavoriteMaterial)</div>
        </div>
        <div class="row" align ="left">   
            @Html.HiddenFor(c => c.RegistrationId)
            
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-6" align="center">
                    
                    @Html.LabelFor(c => c.FirstName)
                    @Html.TextBoxFor(c => c.FirstName, new {PlaceHolder = "First Name", @class = "form-control"})

                </div>
                <div class="col-md-6" align="center">
                    
                    @Html.LabelFor(c => c.LastName)
                    @Html.TextBoxFor(c => c.LastName, new {PlaceHolder = "Last Name", @class = "form-control"})
                </div> 
            </div>
        </div>
        <div class="row" align ="left">   
            <div class="form-group">
                <div class="col-md-6" align="center">
                    
                    @Html.LabelFor(c => c.Email)
                    @Html.TextBoxFor(c => c.Email, new {PlaceHolder = "E-mail", @class = "form-control"})
                </div>
                <div class="col-md-6" align="center">
                   
                    @Html.LabelFor(c => c.FavoriteMaterial)
                    @Html.EnumDropDownListFor(c => c.FavoriteMaterial, "-Choose One-", new {@class = "form-control"})
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="form-group">
                @Html.LabelFor(c => c.Comments)
                @Html.TextAreaFor(c => c.Comments, new { @class = "form-control"})
            </div>
        </div>
        <div class="row" align="center" id="button">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.min.js"></script>
}
