﻿@{
    ViewBag.Title = "W&K Home";
}

<div class="row">
    <h1>About War & Kitty</h1>
    <div class="row" div align="center">
        <h4>We are two sisters who have a love of home decor and vintage products, we wanted to salvage the beautiful pieces we encountered everyday and bring them back to life, so we created our shop War & Kitty. The name of our shop was inspired by our animal companions: Warren the Pug and Kitty Lee the Cat. We find vintage products that act as finishing touches for your home, we hope you are as excited as we are with what we've found.</h4>
    </div>
    <div class="col-md-4">
        <h1>@Html.ActionLink("Get Inspired", "About", "Home")</h1>
        <p>
            See what inspires us...we provide links for home decor ideas and simple do-it-yourself projects so you can take your home decor to the next level. What inspires <i>you</i>?
        </p>
    </div>
    <div class="col-md-4">
        <h1>@Html.ActionLink("Our Products", "Products", "Home")</h1>
        <p>
            Check out our vintage products! Like what you see? Visit our shop on Etsy, we provide vintage finishing touches for all your home decor projects.
        </p>
    </div>
    <div class="col-md-4">
        <h1>@Html.ActionLink("Contact Us", "Contact", "Home")</h1>
        <p> Want more W&K? It's easy to sign up. Register with us and receive information about our recent products, tell us what you want to see more of, or ask questions. We'd love to hear from you!</p>
    </div>
</div>