﻿@model List<WarAndKitty2.Models.Product>
@{
    ViewBag.Title = "Products";
}

@if (Model != null)

{
    <h1 align="left">@ViewBag.Message</h1>
    <div align="center" id="prod">
        <h4>Looking to add some finishing touches to your home decor? Adding some vintage elements can tie a room together beautifully. When you're looking to enhance the look of any room, the beauty and quality of vintage items can't be matched.</h4>
    </div>

    foreach (var product in Model)
    {
        @Html.HiddenFor( p => product.ProductId)
        @Html.HiddenFor(p => product.ProductType)
        <div align="center">
            <div class="col-md-4"id ="prodListings">
                <div class="row" id="prodImages">
                    <a href="@product.ProductLink">
                        <img src="@product.ProductImage" width="230" height="200"/>
                    </a>
                </div>
                <div class="row">
                    <a data-toggle="collapse" data-target="#@product.ProductId">@product.ProductTitle</a>
                </div>
                    <div class ="row" id="listingDesc">
                    <div id="@product.ProductId" class="collapse">
                        <h5>@product.ProductDescription</h5>
                    </div>
                </div> 
                       
            </div>
        </div>
        
    }


}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



